<!DOCTYPE html>

<head>
<title>URL Shortening Service</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <h1>URL Shortening Service</h1>
    <div class='container'>
        <h3>Pass a URL as a parameter, and you should get a JSON object back.</h3>
        <p>Example usage: </p>
        <div class='box'>
            <p>Hee hoo haa</p>
        </div>
    </div>
</body>
